{% extends "base.html" %}

{% block header %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Web Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px;" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}" style="font-weight: 500;"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}


{% block content %}
<div class="content-section">
    <div class="media mb-4">
        <img class="rounded-circle" src="{{ image_file }}" width="150" height="150">
        <div class="media-body">
          <h2 class="account-heading ml-2">{{ current_user.username }}</h2>             
          <p class="col text-secondary">{{ current_user.email }}</p>
          <p class="col text-secondary">Joined on {{ current_user.created.strftime("%B") + " " + current_user.created.strftime("%Y") }}</p>
          </div>
      </div>
      <div class="card p-3">
    <form method="POST" enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Public Profile</legend>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
              {{ form.phoneno.label(class="form-control-label") }}
              {% if form.phoneno.errors %}
                  {{ form.phoneno(class="form-control form-control-md is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.phoneno.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>  
              {% else %}
                  {{ form.phoneno(class="form-control form-control-md") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.address.label(class="form-control-label",id="phoneno") }}
              {% if form.address.errors %}
                  {{ form.address(class="form-control form-control-md is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.address.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>  
              {% else %}
                  {{ form.address(class="form-control form-control-md") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.picture.label() }}
              {{ form.picture(class="form-control-file") }}
              {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                      <span class="text-danger">{{ error }}</span></br>
                  {% endfor %}
              {% endif %}
            </div>
            <div class="form-group">
              <p class="mt-2"><em>Enter the data and get extra credits!</em></p>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info submit") }}
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">  
</script>
{% endblock %}