<!-- {% for question in data.quiz %} -->
  <!-- <div class="content-section">
    <h6>Q{{ question.id }}. {{ question.question }}</h6>
    {% for options in question.options %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name= '{{ question.id }}' id='{{ loop.index }}' value='{{ options }}'>
          <label class="form-check-label" for='{{ loop.index }}'>      
            {% for key, value in options.items() %}
              {{value | capitalize }}
            {% endfor %}
          </label>
      </div>
    {% endfor %}
    <!-- <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#id{{ question.id }}" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <div class="collapse multi-collapse" id="id{{ question.id }}">
      <div class="card card-body">
        {{ question.reason }}
      </div>
    </div> -->
  <!-- </div> -->
<!-- {% endfor %} --> -->