{% extends 'base.html' %}

{% block header %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Web Academy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px;background-color:#ffffff;" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}">
                    <i class="bi bi-person-lines-fill pr-2"></i>Account
                  </a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}">
                    <i class="bi bi-graph-up pr-2"></i>Performance
                  </a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;">
                    <i class="bi bi-box-arrow-left pr-2"></i>Logout
                  </a>               
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
  {% endblock %}

{% block content %}
<h2>Java Quiz</h2>
<p class="lead">You can test your Java skills with Web Academy Quiz.</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Data Types, Variables & Arrays<a href="{{ url_for('tests.java_que', page='Data_Types_Variables_Arrays'}}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
  <li class="list-group-item list-group-item-action">A second item<a href="{{ url_for('tests.java_que', page='None') }}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
  <li class="list-group-item list-group-item-action">A third button item<a href="{{ url_for('tests.java_que', page='None') }}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
  <li class="list-group-item list-group-item-action">A fourth button item<a href="{{ url_for('tests.java_que', page='Exception') }}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
  <li class="list-group-item list-group-item-action">A disabled button item<a href="{{ url_for('tests.java_que', page='None') }}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
  <li class="list-group-item list-group-item-action">A disabled button item<a href="{{ url_for('tests.java_que', page='Threads') }}" class="float-right btn btn-outline-success">Take a test<i class="bi bi-journals ml-1"></i></a></li>
</ul>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
