{% extends 'base.html' %}

{% block header %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Web Academy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px;background-color:#ffffff;" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
  {% endblock %}

{% block content %}
<h4 class="pb-5"><div id="timer" class="float-right">Time left</div><i class="bi bi-hourglass-bottom float-right mr-2" id="hourglass"></i></h4>
{% for question in data.quiz %}
<div class="content-section">
    <h6>Q{{ question.id }}. {{ question.question }}</h6>
    {% for options in question.options %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name='{{ question.id }}' id='{{ loop.index }}'>
          <label class="form-check-label" for='{{ loop.index }}'>      
            {% for key, value in options.items() %}
              {{value | trim | capitalize }}
            {% endfor %}
          </label>
      </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script>
let timerInterval = null;
const TIME_LIMIT = 1800;
let timePassed = 0;
let timeLeft = TIME_LIMIT;
let seconds = 0;
startTimer();
function formatTimeLeft(time) {
    const minutes = Math.floor(time / 60);
    seconds = time % 60;   
    if (seconds % 3 == 0){
      hourglassDown();
    }
    else if(seconds % 3 == 1){
      hourglassMid();
    }
    else if (seconds % 3 == 2){
      hourglassUp();
    }
    if (seconds < 10) {
        seconds = `0${seconds}`;
    }
    if (seconds == 0) {
        console.log("Khatam");
    }
    return `${minutes}:${seconds}`;
}

function startTimer() {    
    timerInterval = setInterval(() => {       
            timePassed = timePassed += 1;
            timeLeft = TIME_LIMIT - timePassed;
            if(timeLeft >= 0) {
                document.getElementById("timer").innerHTML = formatTimeLeft(timeLeft);
            }
    }, 1000);
}

function hourglassDown() {
  document.getElementById('hourglass').className = "bi bi-hourglass-bottom float-right mr-2";
}

function hourglassUp() {
  document.getElementById('hourglass').className = "bi bi-hourglass-top float-right mr-2";
}

function hourglassMid() {
  document.getElementById('hourglass').className = "bi bi-hourglass-split float-right mr-2";
}
</script>
{% endblock %}
