{% extends "base.html" %}

{% block header %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Web Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}" style="font-weight: 500;"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block content %}
<h3 class="mb-3">{{ current_user.username }}'s Overall Performance</h3>
<div id="checkJavaData"></div>
<div id="checkPythonData" class="mt-5"></div>
{% endblock %}

{% block script %}
<script>
  //javaMarks Data
  var javaMarks = [];
  var javaDate = [];
  var javaModules = [];
  var javaChart;

  //pythonMarks Data
  var pythonMarks= [];
  var pythonDate = [];
  var pythonModules = [];
  var pythonChart;

  //data to json
  var java_data = JSON.parse('{{java_marks|tojson}}');
  var python_data = JSON.parse('{{python_marks|tojson}}');

  for (const marks in java_data) {
    javaModules.push(java_data[marks].module);
    javaMarks.push(java_data[marks].marks_obtained);
    javaDate.push(moment(java_data[marks].attempted_on).format('L')); 
  }
  for (const marks in python_data) {
    pythonModules.push(python_data[marks].module);
    pythonMarks.push(python_data[marks].marks_obtained);
    pythonDate.push(moment(python_data[marks].attempted_on).format('L')); 
  }
  if(java_data.length!=0){
    $('#checkJavaData').append('<div class="form-row">\
    <h4 class="h5 col-md-9">Java Marks</h4>\
    <select class="custom-select col-md-3" id="javaModule" onChange="updateGraph(java_data, \'java\')">\
      <option selected value="all">All Modules</option>\
    </select>\
    </div>\
    <canvas id="javaChart" width="80" height="22"></canvas>');
  }
  if(python_data.length!=0){
    $('#checkPythonData').append('<div class="form-row">\
    <h4 class="h5 col-md-9">Python Marks</h4>\
    <select class="custom-select col-md-3" id="pythonModule" onChange="updateGraph(python_data, \'python\')">\
      <option selected value="all">All Modules</option>\
    </select>\
    </div>\
    <canvas id="pythonChart" width="80" height="22"></canvas>');
  } 
  allModules();
  javaGraph();
  pythonGraph();


  function updateGraph(data, name) {
    if(name == 'java') {
      javaMarks = [];
      javaDate = [];
      for (const marks in data) {
        if($('#javaModule').children('option:selected').val() == 'all') {
          javaMarks.push(data[marks].marks_obtained);
          javaDate.push(moment(data[marks].attempted_on).format('L'));
        }
        else if(data[marks].module == $('#javaModule').children('option:selected').val()) {
          javaMarks.push(data[marks].marks_obtained);
          javaDate.push(moment(data[marks].attempted_on).format('L'));
        }
      }
      javaChart.config.data.labels = javaDate;
      javaChart.config.data.datasets[0].data = javaMarks;
      javaChart.config.data.datasets[0].label = $('#javaModule').children('option:selected').text()+
      " (" + javaMarks.length + " Test/s)";
      javaChart.update();
    }
    else {
      pythonMarks= [];
      pythonDate = [];
      for (const marks in data) {
        if($('#pythonModule').children('option:selected').val() == 'all') {
          pythonMarks.push(data[marks].marks_obtained);
          pythonDate.push(moment(data[marks].attempted_on).format('L'));
        }
        else if(data[marks].module == $('#pythonModule').children('option:selected').val()) {
          pythonMarks.push(data[marks].marks_obtained);
          pythonDate.push(moment(data[marks].attempted_on).format('L'));
        }
      }
      pythonChart.config.data.labels = pythonDate;
      pythonChart.config.data.datasets[0].data = pythonMarks;
      pythonChart.config.data.datasets[0].label = $('#pythonModule').children('option:selected').text()+
      " (" + pythonMarks.length + " Test/s)";
      pythonChart.update();
    }
  }

  function allModules() {
    if(javaModules.includes('Data_Types_Variables_Arrays')) {
      $('#javaModule').append('<option value="Data_Types_Variables_Arrays">Data Types Variables & Arrays</option>');
    }
    if(javaModules.includes('Operators_Control_Statements')) {
      $('#javaModule').append('<option value="Operators_Control_Statements">Operators & Control Statements</option>');
    }
    if(javaModules.includes('Classes_Methods')) {
      $('#javaModule').append('<option value="Classes_Methods">Classes & Methods</option>');
    }
    if(javaModules.includes('Exception')) {
      $('#javaModule').append('<option value="Exception">Exception</option>');
    }
    if(javaModules.includes('Inheritance')) {
      $('#javaModule').append('<option value="Inheritance">Inheritance</option>');
    }
    if(javaModules.includes('Threads')) {
      $('#javaModule').append('<option value="Threads">Threads</option>');
    }
    if(pythonModules.includes('Python_Basics')) {
      $('#pythonModule').append('<option value="Python_Basics">Python Basics</option>');
    }
    if(pythonModules.includes('Strings')) {
      $('#pythonModule').append('<option value="Strings">Strings</option>');
    }
    if(pythonModules.includes('List')) {
      $('#pythonModule').append('<option value="List">Python List</option>');
    }
    if(pythonModules.includes('Loops')) {
      $('#pythonModule').append('<option value="Loops">Python Loops</option>');
    }
    if(pythonModules.includes('Tuples_Sets')) {
      $('#pythonModule').append('<option value="Tuples_Sets">Tuples & Sets</option>');
    }
    if(pythonModules.includes('Regular_Expression_Files')) {
      $('#pythonModule').append('<option value="Regular_Expression_Files">Regular Expression & Files</option>');
    }
  }

  function javaGraph() {
    if(java_data.length!=0){
    var ctx = document.getElementById('javaChart').getContext('2d');
    javaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: javaDate,
        datasets: [{
            label: 'All Modules'+" (" + javaMarks.length + " Test/s)",
            data: javaMarks,
            backgroundColor:'rgba(248, 150, 19, 1)',
            borderColor:'rgba(248, 150, 19, 1)',
            borderWidth: 3
        }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
                max: 40
            }
        }
    }
    });
    }
    else {
      $('#checkJavaData').append("<h4 class=\"h5 col-md-9\">Java Marks</h4>\
      <div class=\"card text-center\">\
    <div class=\"card-header h5\">\
      No Record Found!\
    </div>\
    <div class=\"card-body\">\
      <p class=\"card-text\">Please take a test and check back later.</p>\
      <a href=\"{{ url_for('tests.java') }}\" class=\"btn btn-primary\">Take a test.</a>\
    </div>\
    </div>")
    }
  }

  function pythonGraph() {
    if(python_data.length!=0){
    var ctx = document.getElementById('pythonChart').getContext('2d');
    pythonChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: pythonDate,
        datasets: [{
            label: 'All Modules'+" (" + pythonMarks.length + " Test/s)",
            data: pythonMarks,
            backgroundColor:'rgba(248, 150, 19, 1)',
            borderColor:'rgba(248, 150, 19, 1)',
            borderWidth: 3
        }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
                max: 40
            }
        }
    }
    });
  }
  else {
    $('#checkPythonData').append("<h4 class=\"h5 col-md-9\">Python Marks</h4>\
      <div class=\"card text-center\">\
    <div class=\"card-header h5\">\
      No Record Found!\
    </div>\
    <div class=\"card-body\">\
      <p class=\"card-text\">Please take a test and check back later.</p>\
      <a href=\"{{ url_for('tests.python') }}\" class=\"btn btn-primary\">Take a test.</a>\
    </div>\
    </div>")
  }
  }
  </script>
{% endblock %}
