{% extends "base.html" %}

{% block header %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Web Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}" style="font-weight: 500;"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block content %}
<h3 class="mb-3">{{ current_user.username }}'s Overall Performance</h3>
  <h5 class="h5 float-left">Java MCQ's Result</h5>
  <div class="btn-group float-right">
    <select class="custom-select" id="javaModules" onchange="getModule()">
      <option selected>All Modules</option>
      <option value="Data_Types_Variables_Arrays">Data Types,Variables & Arrays</option>
      <option value="Operators_Control_Statements">Operators & Control Statements</option>
       <option value="Classes_Methods">Classes & Methods</option>
       <option value="Exception">Exception</option>
        <option value="Inheritance">Inheritance</option>
        <option value="Threads">Threads</option>
    </select>
  </div>
  <canvas id="java-graph" class="mb-5" height="90"></canvas>
  <h5 class="h5 float-left">Python MCQ's Result</h5>
  <div class="btn-group float-right">
    <select class="custom-select" id="javaModules">
      <option selected>All Modules</option>
      <option value="1">Data Types,Variables & Arrays</option>
      <option value="2">Operators & Control Statements</option>
       <option value="">Classes & Methods</option>
       <option value="">Exception</option>
        <option value="">Inheritance</option>
        <option value="">Threads</option>
    </select>
  </div>
  <canvas id="python-graph" height="90"></canvas>
{% endblock %}

{% block script %}
<script>
  var javaDate = [];
  var javaMarks = [];
  var pythonDate = [];
  var pythonMarks = [];
  {% for marks in java_marks %}
    javaDate.push("{{ marks.attempted_on.strftime('%Y-%m-%d') }}");
    javaMarks.push("{{ marks.marks_obtained }}")
  {% endfor %}

  {% for marks in python_marks %}
    pythonDate.push("{{ marks.attempted_on.strftime('%Y-%m-%d') }}");
    pythonMarks.push("{{ marks.marks_obtained }}")
  {% endfor %}

  function getModule() {
    console.log($("#javaModules :selected").text());  
  }

  var java_graph = document.getElementById('java-graph').getContext('2d');
  var java = new Chart(java_graph, {
      type: 'line',
      data: {
          labels: javaDate,
          datasets: [{
              label: 'Marks Obtained',
              data: javaMarks,
              backgroundColor: [
                  'rgba(173, 255, 47, 0.2)'
              ],
              borderColor: [
                  'rgba(173, 255, 47, 1)'
              ],
              borderWidth: 3
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  var python_graph = document.getElementById('python-graph').getContext('2d');
  var python = new Chart(python_graph, {
      type: 'line',
      data: {
          labels: pythonDate,
          datasets: [{
              label: 'Marks Obtained',
              data: pythonMarks,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 3
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
{% endblock %}
