{% extends "base.html" %}

{% block header %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Web Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}" style="font-weight: 500;"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block content %}
<h3 class="mb-3">{{ current_user.username }}'s Overall Performance</h3>
  <h5 class="h5">Java MCQ's Result</h5>
  <canvas id="java-graph" class="mb-5" width="400" height="100"></canvas>
  <h5 class="h5">Python MCQ's Result</h5>
  <canvas id="python-graph" width="400" height="100"></canvas>
{% endblock %}

{% block script %}
<script>
  var sets = ['vinod','vinay','raju','hello','world','morning']
  var ctx1 = document.getElementById('java-graph').getContext('2d');
  var java = new Chart(ctx1, {
      type: 'line',
      data: {
          labels: sets,
          datasets: [{
              label: 'Marks Obtained',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  var ctx2 = document.getElementById('python-graph').getContext('2d');
  var python = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: 'Marks Obtained',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
{% endblock %}
