{% extends 'base.html' %}

{% block header %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Web Academy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
              <a class="nav-item nav-link active" href="{{ url_for('tests.python') }}">Python</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}"><i class="bi bi-person-lines-fill pr-2"></i>Account</a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}"><i class="bi bi-graph-up pr-2"></i>Performance</a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;"><i class="bi bi-box-arrow-left pr-2"></i>Logout</a>               
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
{% endblock %}

{% block content %}
<h2>Python Quiz</h2>
<p class="lead">You can test your Python skills with Web Academy Quiz.</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Python Basics
    <a href="{{ url_for('tests.question', module='Python_Basics', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[0] }} Questions</span>
  </li>
  
  <li class="list-group-item list-group-item-action">Strings
    <a href="{{ url_for('tests.question', module='Strings', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[1] }} Questions</span>
  </li>
  
  <li class="list-group-item list-group-item-action">Python List
    <a href="{{ url_for('tests.question', module='List', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[2] }} Questions</span>
  </li>
  
  <li class="list-group-item list-group-item-action">Python Loops
    <a href="{{ url_for('tests.question', module='Loops', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[3] }} Questions</span>
  </li>
  
  <li class="list-group-item list-group-item-action">Tuples & Sets
    <a href="{{ url_for('tests.question', module='Tuples_Sets', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[4] }} Questions</span>
  </li>
  
  <li class="list-group-item list-group-item-action">Regular Expression & Files
    <a href="{{ url_for('tests.question', module='Regular_Expression_Files', subject='python-question') }}" class="float-right btn btn-outline-success">
      Take a test
      <i class="bi bi-journals ml-1"></i>
    </a>
    <span class="mr-3 mt-1 p-2 float-right badge badge-primary badge-pill">{{ module[5] }} Questions</span>
  </li>
</ul>

<p class="text-danger mt-5 font-weight-bold">Note: 
  <span class="text-secondary">Once you click on 
    <span class="badge badge-pill badge-success">Take a test
    </span> 
    a timer of 
    <span class="badge badge-pill badge-danger">30 Minutes
    </span>
    will automatically begin.
    Once the timer is over the question paper will be submitted with the answers marked.
    Each MCQ carries 
    <span class="badge badge-pill badge-info">2 Marks
    </span>
    for a total of 
    <span class="badge badge-pill badge-info">40 Marks
    </span>
    containing 
    <span class="badge badge-pill badge-info">20 Random Questions
    </span>.
  </span> 
</p> 
{% endblock %}