{% extends 'base.html' %}

{% block header %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Web Academy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if subject == 'java-question' %}
                <a class="nav-item nav-link active" href="{{ url_for('tests.java') }}">Java</a>
                <a class="nav-item nav-link" href="{{ url_for('tests.python') }}">Python</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('tests.java') }}">Java</a>
                <a class="nav-item nav-link active" href="{{ url_for('tests.python') }}">Python</a>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                  {% if current_user.image_file=='default.png' %}
                    {% if current_user.gender=='Male'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/male.png">
                    {% elif current_user.gender=='Female'%}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/female.png">
                    {% else %}
                      <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/other.png">
                    {% endif %}
                  {% else %}
                    <img class="rounded-circle" style="width:40px ;height:40px" src="../static/profile_pics/{{ image_file }}">
                  {% endif %}
                </a>
                
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('users.account') }}">
                    <i class="bi bi-person-lines-fill pr-2"></i>Account
                  </a>
                  <a class="dropdown-item" href="{{ url_for('users.performance') }}">
                    <i class="bi bi-graph-up pr-2"></i>Performance
                  </a>
                  <a class="dropdown-item bg-danger text-white" href="{{ url_for('users.logout') }}" style="border-radius: 5px;">
                    <i class="bi bi-box-arrow-left pr-2"></i>Logout
                  </a>               
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
  {% endblock %}

{% block content %}
<h4 class="pb-3">
  <span>{{ page | replace('_', ' ') | replace('Arrays', '& Arrays') }} Quiz :</span>
  <div id="timer" class="float-right">Time left</div>
  <img src="https://i.gifer.com/XVo6.gif" class="float-right" width="30px" height="30px"></img>
</h4>
{% for question in data %}
<div class="content-section">
  <h6>Q{{ question.question_id }}. {{ question.question }}</h6>
  <div class="form-check">
    <input class="form-check-input" type="radio" name= '{{ question.id }}' id='option' value='a'>
      <label class="form-check-label" for='{{ loop.index }}'>      
        {{ question.optiona | trim | capitalize }}
      </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name= '{{ question.id }}' id='option' value='b'>
      <label class="form-check-label" for='{{ loop.index }}'>      
        {{ question.optionb | trim | capitalize }}
      </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name= '{{ question.id }}' id='option' value='c'>
      <label class="form-check-label" for='{{ loop.index }}'>      
        {{ question.optionc | trim | capitalize }}
      </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name= '{{ question.id }}' id='option' value='d'>
      <label class="form-check-label" for='{{ loop.index }}'>      
        {{ question.optiond | trim | capitalize }}
      </label>
  </div>
</div>
{% endfor %}
<button type="button" class="btn btn-outline-success mb-5" onclick="displayRadioValue()">
  Submit
</button>
{% endblock %}

{% block script %}
<script>
  let timerInterval = null;
  let TIME_LIMIT = 1800;
  let timePassed = 0;
  let timeLeft = TIME_LIMIT;
  let seconds = 0;
  startTimer();
  function formatTimeLeft(time) {
      const minutes = Math.floor(time / 60);
      seconds = time % 60;   
      if (seconds < 10) {
          seconds = `0${seconds}`;
      }
      if (seconds == 0) {
      }
      return `${minutes}:${seconds}`;
  }

  function startTimer() {    
      timerInterval = setInterval(() => {       
              timePassed = timePassed += 1;
              timeLeft = TIME_LIMIT - timePassed;
              if(timeLeft >= 0) {
                  document.getElementById("timer").innerHTML = formatTimeLeft(timeLeft);
              }
      }, 1000);
  }

  function displayRadioValue() {
    let answers = {};
    var ele = document.getElementsByTagName('input');           
    for(i = 0; i < ele.length; i++) {       
        if(ele[i].type="radio") {                 
            if(ele[i].checked) {
              answers[ele[i].name] = ele[i].value;
            }
        }
    }
    console.log(answers);
  }

  $(window).bind('beforeunload', function(){
  return 'Are you sure you want to leave?';
});

</script>
{% endblock %}
